@font-face {
font-family: 'Vinyl repair kit';
font-style: normal;
font-weight: normal;
src: local('Vinyl repair kit'), url('VINYLREPAIRKIT.woff') format('woff');
}

h1 {
    font-family: 'Vinyl repair kit';
    font-weight: 200;
    color: #0ccac4;
}